nav {background-color: #fcfcfc;}
nav a {color: #1f3354;}
nav a:hover {background-color: #C1445D;}
nav {font-weight: bold;
  padding: 10px;
  margin-bottom: 30px;}
body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1, h2 {color: #1f3354;}
.evenrow {background-color: lightgrey;}
.skillcat {background-color: #6fa0ed;}
h1 {font-size: 3em;}
h2 {font-size: 1.75em;}
body {background-color: #848996;}
p, tr, td, caption {color: #202729;}
.jackiequote {float: right;}
.contactrow1 {display: flex; flex-wrap: wrap; padding: 5px; background-color: #fcfcfc; border-radius: 1em; margin: 15px;}
.contactrow2 {display: flex; flex-wrap: wrap; padding: 5px; background-color: #fcfcfc; border-radius: 1em; margin: 15px;}
.addy, .emailll {margin: 75px;}
.form1, map {padding: 5px; margin: 75px; justify-content: space-between;}
.skillsheader {text-align: center;}
.icons {width: 25%;}
.gwi {width: 9%;}
.iconrow {display: flex; flex: 4; justify-content: space-evenly; margin: 20px;}
.otherskills {background-color: #fcfcfc; border-radius: 1em;
flex: 1; padding: 20px;}
.otherheader {color: #1f3354;}
.flex2 {display: flex;}
.introphoto {max-width: 100%;}
#skip {
  position: absolute; 
  left: -999px;
  background-color: #1f3354;
  padding: 5px;
}
#skip:focus {
  left: 10px;
}
@media only screen and (max-width: 800px) {
  nav a {display: block;
    margin: 10px;}
  span {display: none;}}