nav {background-color: #aebadb;}
nav a {color: #5e6567;}
nav a:hover {background-color: #7d3838;}
nav {padding: 10px;
  margin-bottom: 30px;}
body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1, h2 {color: #6fa0ed;}
.evenrow {background-color: lightgrey;}
.skillcat {background-color: #6fa0ed;}
h1 {font-size: 3em;}
h2 {font-size: 1.75em;}
body {background-color: #dcdfe6;}
p, tr, td, caption {color: #202729;}
.jackiequote {justify-content: end;}
.contactrow1 {display: flex; flex-wrap: wrap; padding: 5px; background-color: #fcfcfc; border-radius: 1em; margin: 15px;}
.contactrow2 {display: flex; flex-wrap: wrap; padding: 5px; background-color: #fcfcfc; border-radius: 1em; margin: 15px;}
.addy, .emailll {margin: 75px;}
.form1, map {padding: 5px; margin: 75px; justify-content: space-between;}
.skillsheader {text-align: center;}
.icons {width: 25%;}
.gwi {width: 9%;}
.iconrow {display: flex; flex: 4; justify-content: space-evenly; margin: 20px;}
.otherskills {background-color: #cce5ff; border-radius: 1em;
flex: 1; padding: 20px;}
.otherheader {color: rgb(32, 32, 80);}
.flex2 {display: flex;}
.introphoto {max-width: 100%;}
@media only screen and (max-width: 800px) {
  nav a {display: block;
    margin: 10px;}
  span {display: none;}}
  #skip {
    position: absolute; 
    left: -999px;
    background-color: #C1445D;
    padding: 5px;
}
#skip:focus {
    left: 10px;
}