body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1, h2 {color: cornflowerblue;}
.evenrow {background-color: lightgrey;}
.skillcat {background-color: cornflowerblue;}
h1 {font-size: 3.45em;}
h2 {font-size: 1.75em;}